<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="foreign-table.ZPM">
    <Module>
      <Name>foreign-table</Name>
	  <Description>show setup foreign table</Description> 
      <Version>0.0.2</Version>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="DemoF.MAC"/>
    </Module>
  </Document>
</Export>
